@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
.banner {
	height: 423px;
	width: 100%;
}
.m_wraper_0{width:100%;overflow:hidden;zoom:1}
.m_cont_0{width:100%;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:#fff;margin:0 auto;overflow:hidden;zoom:1}
.sub_cont_0{width:1000px;margin:0 auto}
.sub_box{
	overflow: hidden;
	zoom: 1;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
}
.m_title_0 h3{
	color: #1b96f5;
	margin-bottom: 10px;
	font-family: "楷体", "华文宋体", "宋体";
	font-size: 24px;
	font-style: normal;
}
.sub_box_cont p{
	color: #555;
	font-size: 12px;
	font-family: "宋体";
	text-indent: 2em
}
.m_cont_1{
	overflow: hidden;
	zoom: 1;
	background-color: #F8F8F8;
}
.sub_box_cont-1{margin-top:8px;overflow:hidden;zoom:1}
.sub_box_cont dl{
	width: 202px;
	float: left;
	display: inline;
	margin: 0 18px;
	overflow: hidden;
	zoom: 1
}
.sub_box_cont .ml_none{margin-left:0}
.sub_box_cont dt p{color:#f57c1b;font:24px/1 \5FAE\8F6F\96C5\9ED1;text-align:center;text-indent:0;margin:3px 0 10px}
.sub_box_cont dt .icons-icon{
	background: url(../images/icons.png) no-repeat scroll 0 0 transparent;
	width: 125px;
	height: 66px;
	display: inline-block;
	overflow: hidden;
	zoom: 1;
	border: 0px none #FFF;
	margin-top: 0px;
	margin-right: 37px;
	margin-bottom: 0px;
	margin-left: 37px;
}
.sub_box_cont dt .icon_0{background-position:-338px 0}
.sub_box_cont dt .icon_1{background-position:-502px 0}
.sub_box_cont dt .icon_2{background-position:-669px 0}
.sub_box_cont dt .icon_3{background-position:0 0}
.sub_box_cont dd{line-height:20px;font-size:14px;color:#999;font-family:\5FAE\8F6F\96C5\9ED1}
