@charset "utf-8";
body{
	color: #333;
	background-color: #fff;
	font-family: "microsoft yahei", \5b8b\4f53, Arial, Verdana;
	font-size: 12px;
	line-height: 150%;
	margin: 0;
	padding: 0;
	background: #fff;
}
#J_bannerBar li,#J_bannerBar .current,.accordion dl dd,.mod .hd .more,.casePanel .hook,.casePanel dl .tit .hook.current,.latestNews ul li,.programNews ul li,.list li,.controlArrow .cPrev,.controlArrow .cNext{
	background: url(../images/it/ico.png) no-repeat 360px 600px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

.banner {
	position: relative;
	width: 100%;
	min-width: 1000px;
	height: 383px;
	overflow: hidden;
	z-index: 9;
}

#J_bannerPic li { width:100%; height:383px; overflow:hidden; } 
#J_bannerPic li a { display:block; width:100%; height:383px; overflow:hidden; }
#J_bannerBar { position:absolute; left:50%; bottom:0; _bottom:-2px; margin-left:350px; height:28px; overflow:hidden; z-index:9; }
#J_bannerBar li { float:left; width:15px; height:15px; margin-right:5px; background-position:0 -169px; _background-position:0 -168px; overflow:hidden; text-align:center; cursor:pointer; text-indent:-999em; }
#J_bannerBar .current { height:28px; background-position:0 -184px; _background-position:0 -183px; }

.bannerPhoto { position:relative; height:383px; overflow:hidden; z-index:9; }
.bannerPhoto ul { position:absolute; width:30000em; height:383px; }
.bannerPhoto ul li { float:left; width:100%; height:383px; overflow:hidden; }
.bannerPhoto ul li a { display:block; height:383px; }

/* 最新快讯 */
.latestNews {
	position: relative;
	width: 865px;
	height: 24px;
	margin: 0 auto;
	padding: 7px 10px 10px 85px;
	background: url(../images/it/latestNews.jpg) no-repeat center top;
	border-top: 1px solid #fff;
	overflow: hidden;
}
.latestNews h4 { position:absolute; left:16px; top:7px; width:63px; font-size:13px; font-weight:100; line-height:24px; }
.latestNews h4 em,.latestNews a:hover { color:#f90; }
#latestNews { width:865px; height:24px; margin:0; padding:0; overflow:hidden; }
#latestNews ul { width:865px; height:24px; margin:0; padding:0; overflow:hidden; }
#latestNews ul li {
	float: left;
	padding: 0 35px 0 10px;
	font-size: 12px;
	line-height: 24px;
	background-image: url(../images/it/ico_01.gif);
	background-repeat: no-repeat;
	background-position: 0 9px;
}

.mod .hd { position:relative; height:34px; }
.mod .hd .more { display:block; position:absolute; top:10px; right:0; width:31px; height:11px; background-position:0 -133px; _background-position:0 -132px; font-size:0; line-height:0; overflow:hidden; }

.list li { padding-left:12px; background-position:-31px -133px; line-height:26px; }

/* 标题 */
.accordion .hd h2,.news .hd h2,.case .hd h2,.partner .hd h2,.industryNews .hd h2,.QA .hd h2 {
	height: 34px;
	background: url(../images/it/hTitle_1.gif) no-repeat;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

/* ==================
	通用版块尺寸
================== */
.layout { width:960px; margin:0 auto; padding:10px 0 0; overflow:hidden; }
.layout .fl { width:620px; height:220px; }
.layout .fr { width:300px; height:220px; padding-left:20px; background:url(../images/it/ico_02.gif) no-repeat 0 18px; }

/* 获取商机 手风琴 */
.accordion .hd h2 { background-position:0 0; }
.accordion .hd { margin-bottom:10px; }
.accordion .bd { width:615px; height:176px; overflow:hidden; }

.item { float:left; width:455px; height:140px; overflow:hidden; }
.item h2 { display:bolck; width:40px; height:140px; text-indent:-999em; cursor:pointer; }
.item .con { display:none; width:455px; height:140px; overflow:hidden; }

.item_1 h2 { background:url(../images/it/accordion_1.gif) no-repeat; }
.item_1 .photo { background:url(../images/it/accordion_01.gif) no-repeat; }
.item_2 h2 { background:url(../images/it/accordion_2.gif) no-repeat; }
.item_2 .photo { background:url(../images/it/accordion_02.gif) no-repeat; }
.item_3 h2 { background:url(../images/it/accordion_3.gif) no-repeat; }
.item_3 .photo { background:url(../images/it/accordion_03.gif) no-repeat; }
.item_4 h2 { background:url(../images/it/accordion_4.gif) no-repeat; }
.item_4 .photo { background:url(../images/it/accordion_04.gif) no-repeat; }
.item_5 h2 { background:url(../images/it/accordion_5.gif) no-repeat; }
.item_5 .photo { background:url(../images/it/accordion_05.gif) no-repeat; }

.accordion .current { width:455px; background:url(../images/it/item.gif) no-repeat; } 
.accordion .current h2 { display:none; }
.accordion .current .con { display:block; }

.item .photo { float:left; width:115px; height:140px; border-right:1px solid #fff; text-indent:-999em; }
.item dl { float:right; width:329px; height:140px; padding-left:10px; overflow:hidden; }
.item dl dt { float:left; width:120px; height:80px; margin-top:31px; }
.item dl dd { float:right; width:184px; height:111px; padding:29px 5px 0 10px; background-position:-147px -48px; line-height:21px; }
.item dl dd a { padding-left:5px; }

/* 网新动态 */
.news .hd h2 { background-position:0 -34px; }
.news .bd { padding:10px 0 0 7px; }

/* ===========
	第二版块
============== */
.mod-b-1 { width:100%; border-top:1px solid #eaeaea; height:1px; }
.mod-b-c { width:100%; padding-top:25px; border-top:0px solid #eaeaea; }
.mod-b-c .mod-b { height:200px; }
.mod-b-c .mod-b .fl { height:200px; }
.mod-b-c .mod-b .fr { height:200px; background:url(../images/it/ico_02.gif) no-repeat 0 18px; }

/* 案例 */
.case .hd h2 { background-position:0 -68px; }
.case .bd { position:relative; height:155px; padding-top:11px; }

.casePanel { width:620px; height:100px; padding:5px 0; overflow:hidden; }
.casePanel ul { height:100px; }
.casePanel ul li { float:left; width:620px; height:100px; padding:0; }

.pictxt { height:100px; }
.pictxt .pic { float:left; padding-top: 4px;}
.pictxt dl { float:right; height:100px; }
.pictxt dl dt { font-size:14px; font-weight:bold; }
.pictxt dl dd { padding:0  0 3px; line-height:18px; }
.pictxt dt a { color:#333; }

.casePanel .pictxt { width:620px; }
.casePanel .pictxt .pic { width:150px; height:100px; }
.casePanel .pictxt dl { width:450px; }

.controlArrow { position:absolute; right:0; width:30px; height:12px; padding-top:2px; overflow:hidden; }
.controlArrow li { float:left; width:11px; height:11px; }
.controlArrow .cPrev, .controlArrow .cNext { display:block; width:11px; height:11px; font-size:0; line-height:0; overflow:hidden; }
.controlArrow .cPrev { background-position:0 -121px; }
.controlArrow .cNext { background-position:-12px -121px; }

/* 合作伙伴 */
.partner .hd h2 { background-position:0 -102px; }
.partner .bd { position:relative; height:155px; padding-top:11px; }
.partnerPanel { width:300px; height:100px; padding:5px 0; overflow:hidden; }
.partnerPanel ul { height:100px; }
.partnerPanel ul li { float:left; width:300px; height:100px; padding:0; }
.partnerPanel .pictxt { width:300px; }
.partnerPanel .pictxt .pic { width:110px; height:60px; }
.partnerPanel .pictxt .pic img { vertical-align:top; }
.partnerPanel .pictxt dl { width:170px; }

/* ===========
	第三版块
============== */
.controlPanel { display:none; }

/* 行业资讯 */
.industryNews .hd h2 { background-position:0 -136px; }
.industryNews .bd { height:156px; padding:10px 0 0 5px; }

/* QA */
.QA .hd h2 { background-position:0 -170px; }
.QA .bd { height:148px; padding-top:18px; }
.QA .pictxt { width:620px; }
.QA .pictxt .pic { width:150px; height:100px; }
.QA .pictxt dl { width:450px; }
.QA .pictxt dl dd { padding:6px 0 3px; line-height:18px; }

/* 切换按钮 */
.mod-d { height:15px; background:#f7f7f7; overflow:hidden; }
.pArrow { display:block; width:104px; height:15px; margin:0 auto; background:url(../images/it/pArrow.gif) no-repeat; font-size:0; line-height:0; overflow:hidden; }
.pArrowCur { background:url(../images/it/pArrow.gif) no-repeat 0 -15px; }

/* 字体颜色 */
.latestNews,.latestNews a,.list li a,.pictxt, .pictxt a,.item dl dd ,.item dl dd a { color:#777; }
